<meta charset="UTF-8">
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p v-if="loggedIn && name != ''">Usuário logado: {{ name }}</p>
  <p v-else-if="loggedIn">Navegando como anônimo</p>
  <p v-else>Nenhum usuário logado</p>
  <input type="text" v-model="name">
  <button @click="loggedIn = !loggedIn">{{ loggedIn ? 'Sair' : 'Entrar' }}</button>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      name: '',
      loggedIn: false
    }
  })
</script>